export(check.equal)
export(.CallOctave)
export(octave_start)
export(octave_end)
export(octave_verbose)
export(octave_config)
export(octave_modules)
export(sourceExamples)
export(.O)
export(o_exist)
export(OctaveFunction)
export(as.mfile)
export(system.mfile)
export(o_source)
export(o_addpath)
export(o_version)
export(o_config_info)
export(o_help)
export(o_doc)
export(o_identity)
export(o_inpath)
export(o_eval)
export(o_assign)
export(o_assignin)
export(o_get)
export(o_load)
export(o_clear)
export(o_rm)
export(o_who)
export(o_whos)
export(o_ls)
export(o_runif)
export(o_rnorm)
export(o_rexp)
export(o_rgamma)
export(Octave.version)
export(Octave.config)
export(Octave.home)
export(Octave.info)
exportMethods(show)
exportMethods(.DollarNames)
exportMethods("$")
exportMethods("[[")
exportMethods("$<-")
import(stringr)
import(pkgmaker)
import(Rcpp)
import(methods)
import(tools)
import(digest)
importFrom(utils,file_test)
S3method(.DollarNames,Octave)
S3method(print,Octave_whos)
