S3method(.DollarNames,Octave)
S3method(print,Octave_whos)
export(.CallOctave)
export(.O)
export(OctaveConfig)
export(OctaveFunction)
export(as.mfile)
export(check.equal)
export(o_addpath)
export(o_assign)
export(o_assignin)
export(o_clear)
export(o_doc)
export(o_eval)
export(o_exist)
export(o_get)
export(o_help)
export(o_identity)
export(o_inpath)
export(o_load)
export(o_ls)
export(o_rexp)
export(o_rgamma)
export(o_rm)
export(o_rnorm)
export(o_runif)
export(o_source)
export(o_version)
export(o_who)
export(o_whos)
export(oconfig)
export(oend)
export(omodules)
export(ostart)
export(overbose)
export(sourceExamples)
export(system.mfile)
exportMethods("$")
exportMethods("$<-")
exportMethods("[[")
exportMethods(.DollarNames)
exportMethods(show)
import(Rcpp)
import(digest)
import(pkgmaker)
import(stringr)
import(tools)
importMethodsFrom(methods,show)
